<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/pillDetail.js" type="text/javascript"></script>
    <script src="js/navAnimate.js" type="text/javascript"></script>
    <link href="css/pillBox.css" rel="stylesheet">
    <link href="css/pageInit.css" rel="stylesheet">
    <link href="css/medDetail.css" rel="stylesheet">
    <link href="css/contactor.css" rel="stylesheet">
    <link href="css/navBar.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <title>藥盒</title>
  </head>
  <body>
    <nav >
      <button><div class="mine">我的藥盒<div id="mine"></div></div></button>
      <button><div class="contacter">被提醒人的藥盒<div id="contacter"></div></div></button>	
    </nav>
    <div id="blank_underNavbar" style="display: none;"></br></br></br></div>
    <div id="supervisee"></div>
    <div id="myPillbox"></div>
    <div id="superviseePillbox"></div>
    <div id="superviseePillboxs_list" style="display: none;"></div>
    <div id="pillDetail"></div>
    <div id="footer" style="display: none;">
      <div class="blank"></div>
      <div class="blank1"></div>
      <button class="btn btn-dark mx-auto" id="add" type="button">新增藥物</button>
    </div>     
  </body>
  <script>
    function Load_landingPage(medNum, pillBox){
      if(medNum == 0){
        $(`#${pillBox}`).empty()
        $(`#${pillBox}`).append(`<div class="add_med">
                                    <div><img src="img/MED.png"></div>
                                    <div>建立我的藥盒</div>
                                    <div>新增目前服用的藥物至線上藥盒</div>
                                  </div>
                                  <button class="btn btn-dark mx-auto" id="add" type="button">新增藥物</button>`)
      }
    }

    function Load_pillBox(userId, pillBox){
      $(`#${pillBox}`).empty()
      $(`#${pillBox}`).css('display', 'initial')

      $.ajax({
        url: 'load-pillBoxPage',
        data: {userId: userId},
        success: function (data){
          $('#footer').css('display', 'initial')
          $.each(data.user_Med, function (key, value){
            $(`#${pillBox}`).append(`<div class="item" id="item_${value.user_MedId}">
                                    <div class="med">
                                      <div class="image" style="background-image:url(${value.medPicture})"></div>
                                      <div class="info"></div>
                                      <div class="name">${value.medName}</div>
                                      <div class="number">
                                        <div class="three">
                                          <div class="one">${value.totalAmount}</div>
                                          <div class="two">剩餘藥物</div>
                                        </div>
                                        <div class="three">
                                          <div class="one">${value.onceAmount}</div>
                                          <div class="two">每次劑量</div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="ope">
                                        <button id="delete" type="button" value="${value.user_MedId}">
                                          <div class="delete">
                                            <div><img src="img/delete.png"></div>
                                            <div>刪除</div>
                                          </div>
                                        </button>
                                        <button id="edit" type="button" value="${value.user_MedId}">
                                          <div class="edit">
                                            <div><img src="img/edit.png"></div>
                                            <div>編輯</div>
                                          </div>
                                        </button>
                                    </div>
                                  </div>`)
                              
          })  

          if(pillBox == 'myPillbox' && $('#superviseePillboxs_list').children().length == 0){              
            $.each(data.supervise, function (key, value){
              $('#superviseePillboxs_list').append(`<div class="contacter_med">
                                                      <div class="profile" style="background-image:url(img/remove.png)"></div>
                                                      <div class="appellation">${value.userName}</div>
                                                      <div class="add_new">
                                                        <button class="btn mx-auto supervisee_add" value="${value.userId}" userName="${value.userName}">
                                                          <div id="add_new">
                                                            <div><img src="img/add.png"></div>
                                                            <div>新增</div>
                                                          </div>
                                                        </button>
                                                      </div>
                                                      <div class="view">
                                                        <button class="btn mx-auto supervisee_view" value="${value.userId}" userName="${value.userName}">
                                                          <div id="view">
                                                            <div><img src="img/view.png"></div>
                                                          <div>查看</div>
                                                          </div>
                                                        </button>
                                                      </div>
                                                    </div>`)
            })   
            if(data.supervise.length != 0){
              $('nav').css('display', 'flex')
              $('#blank_underNavbar').css('display', 'initial')
            }
          }
          Load_landingPage(Object.keys(data.user_Med).length, pillBox) 
        }
      })     
    }
    
    function Load_pillDetail(){
      $('#myPillbox').css('display','none')
      $('#superviseePillbox').css('display','none')
      $('#superviseePillboxs_list').css('display', 'none')
      $('#footer').css('display', 'none')
       

      $('#pillDetail').append(`<div class="add">
                                <div class="med_name">
                                  <div><img src="img/medicine.png"></div>
                                  <div>藥物名稱</div>
                                </div>
                                <div class="name1"><input id="med_name" type="text" placeholder="  請輸入藥物名稱" value=""></div>
                                <div class="pic">
                                  <div><img src="img/medicine.png"></div>
                                  <div>藥物照片</div>
                                </div>
                                <div id ="upload-wrap" class="pic1">
                                  <div><img src="img/graph.png"></div>
                                  <div>上傳照片</div>
                                  <div>(每種藥物僅可上傳一種照片)</div>
                                  <div><button></button></div>
                                  <label class="upload"><input id="pic" type="file" accept="image/*"></label>
                                </div>
                                <div class="total">
                                  <div><img src="img/medicine.png"></div>
                                  <div>藥物總量</div>
                                  <div>(單位:個)</div>
                                </div>
                                <div class="total1"><input id="total" type="number" placeholder="20" value="" step="0.5" min="0" oninput="inputnumber(this)"></div>
                                <div class="each">
                                  <div><img src="img/medicine.png"></div>
                                  <div>每次服用劑量</div>
                                  <div>(單位:個)</div>
                                </div>
                                <div class="each1"><input id="each" type="number" placeholder="1" value="" step="0.5" min="0" oninput="inputnumber(this)"></div>
                                <div class="red_name">請輸入藥物名稱</div>
                                <div class="red_pic">請上傳藥物照片</div>
                                <div class="red_total">請輸入藥物總量</div>
                                <div class="red_each">請輸入每次服用劑量</div>                                
                              </div>                            
                              <div class="blank1"></div>
                              <input id="picURL" type="text" url="">
                              <button id="cancel" class="btn mx-auto cancel" type="button" value="cancel">取消</button>
                              <button id="create" class="btn mx-auto create" type="button" value="insert">完成</button>                        
                              <input id="med_id" type="hidden" value="">`)

      

    }

    function Add_pillDetail(userId, pillBox){
      showWarningMsg()
      if($('#med_name').val() && $('#picURL').attr('url') && $('#total').val() && $('#each').val()){
        $(this).css('disabled','true')
        $.ajax({
          url: 'add-med',
          type: 'POST',
          data: {
            userId: userId,
            medName: $('#med_name').val(),
            totalAmount: $('#total').val(),
            onceAmount: $('#each').val(),
            queryCond: $('#create').val(),
            user_MedId: $('#med_id').val(),
            medPicture: $('#picURL').attr('url')
          },
          success: function (data){          
            $('#pillDetail').empty()
            Load_pillBox(userId, pillBox)          
          }
        })
      }  
    }

    liff.init({
      liffId:'1655949102-WX1rbAJw'
    })
    .then(() => {
      liff.getProfile()
      .then(profile =>{
        $(document).ready(function(){
          Load_pillBox(profile.userId, 'myPillbox')

          $('body').on('click', 'nav button:nth-child(1)', function(){            
            Nav_mine_animate()
            $('#myPillbox').css('display', 'initial')
            $('#superviseePillbox').css('display', 'none')
            $('#footer').css('display', 'initial')
            $('#superviseePillboxs_list').css('display', 'none') 
            $('#pillDetail').empty()
            $('#supervisee').empty()
          })
          
          $('body').on('click', 'nav button:nth-child(2)', function(){
            Nav_contactor_animate()
            $('#myPillbox').css('display','none')
            $('#superviseePillbox').css('display', 'none')
            $('#footer').css('display', 'none')
            $('#superviseePillboxs_list').css('display', 'initial')
            $('#pillDetail').empty()
            $('#supervisee').empty()      
          })

          $('body').on('click', '#add', function(){        
            Load_pillDetail()  
          })

          $('body').on('click', '#create', function(){
            if(!$('#supervisee').html()) Add_pillDetail(profile.userId, 'myPillbox')
            else Add_pillDetail($('#supervisee').val(), 'superviseePillbox')
          })

          $('body').on('click', '#edit', function(){
            $.ajax({
              url: '/edit-med',
              data: {
                user_MedId: $(this).attr('value')               
              },
              success: function (data){
                Load_pillDetail()
                
                $('#create').val('update')                
                $.each(data, function (key, value){   
                  $('#med_name').val(value.medName)
                  $('#total').val(value.totalAmount)
                  $('#each').val(value.onceAmount)
                  $('#med_id').val(value.user_MedId)
                  if(value.medPicture){
                    for(let i=0;i<3;i++){
                      $('.pic1 div:nth-child(1)').remove()
                    }
                    $('.pic1').toggleClass('pic2', true)
                    $('.pic2').toggleClass('pic1', false)
                    $(".pic2").prepend("<div style=\"background-image:url("+ value.medPicture +")\"></div>")
                    $('#picURL').attr('url', 'unchange')
                  }

                })
                       
              }
            })                
          })

          $('body').on('click', '#delete', function(){
            let user_MedId = $(this).attr('value') 
            $.ajax({
              url: '/delete-med',
              data: {
                user_MedId: user_MedId             
              },
              success: function (data){
                $('#item_' + user_MedId).remove()
                if(!$('#supervisee').html()) Load_landingPage($('#myPillbox').children().length, 'myPillbox')
                else Load_landingPage($('#superviseePillbox').children().length, 'superviseePillbox')

              }
            })                
          })          

          $('body').on('click', '#cancel', function(){
            liff.closeWindow()       
          })   

          $('body').on('click', '.supervisee_view', function(){
            $('#superviseePillboxs_list').css('display', 'none')
            $('#supervisee').val($(this).val())
            $('#supervisee').html($(this).attr('userName'))
            Load_pillBox($(this).val(), 'superviseePillbox')
          })

          $('body').on('click', '.supervisee_add', function(){
            $('#superviseePillboxs_list').css('display', 'none')
            $('#supervisee').val($(this).val())
            $('#supervisee').html($(this).attr('userName'))
            Load_pillDetail()          

          })

          $('body').on('change', '#pic', function(){
            readURL(this)
          })

          $('body').on('click', '#upload-wrap button', function(){
              $(".pic2").toggleClass('pic1', true);
              $(".pic1").toggleClass('pic2', false);
              $(".pic1 #showpic").remove();
              $(".pic1").prepend("<div>(每種藥物僅可上傳一種照片)</div>");
              $(".pic1").prepend("<div>上傳照片</div>");
              $(".pic1").prepend("<div><img src=\"img/graph.png\"></div>");
              $('#picURL').attr('url', '')

          })            

        })        
      })
      .catch((err) => {
        console.log('error:', err)
      })

    })
    .catch(error => {
      //error callback   
    })     


</script>
</html>
