<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <title>我的藥盒</title>
    <div id="urldiv"></div>
  </head>
  <body>
  </body>
  <script>
    function Load_pillBox(){
      liff.init({
        liffId:'1655949102-WX1rbAJw'
      })
      .then(() => {
        liff.getProfile()
        .then(profile =>{
          $.ajax({
            url: 'load-pillBoxPage',
            data: {userId: profile.userId},
            success: function (data){
              if(Object.keys(data).length != 0){
                $.each(data, function (key, value){
                  $('body').append(`<h1>${value.medName}</h1>
                                    <img src="${value.medPicture}" class='med_img' value='${value.user_MedId}'>
                                    <a href='/medicine_detail'>藥物總剩餘量 ${value.totalAmount}個</a>
                                    <p>每次服用劑量 ${value.onceAmount}個</p>`)
                })
                $('body').append(`<button id='add_med_button'>新增藥物</button>`)

              }else{
                $('body').append(`<div class="wrapper row  mx-auto p-5">
                                    <div>
                                      <h2 class="title">建立我的藥盒</h2>
                                      <p>
                                          The problem with Realtimevirus scanners is that they're 
                                          inherently heavy on the CPU, 
                                          as they have to hash and compare<br> 
                                      </p>
                                      <div class="row  justify-content-center mt-5">
                                        <img class="col-sm-3">
                                        <img class="col-sm-3">
                                      </div>
                                      <button type="button" class="btn btn-dark mx-auto">新增藥物</button>
                                    </div>
                                  </div>`)
              }
            }
          })
        })
        .catch((err) => {
          console.log('error:', err)
        })

      })
      .catch(error => {
        //error callback   
      })      
    }
    $(document).ready(function(){
      Load_pillBox()
      $('body').on('click', '.med_img', function(){
        $('body').empty()
        $.ajax({
          url: 'load-medDetail',
          data: {user_MedId: $(this).attr('value')},
          success: function (data){
            $.each(data, function (key, value){
              $('body').append(`<h1>${value.medName}</h1>
                                <button class='.add_finish_button'>我的藥盒</button>`)
            })
          }
        }) 
      })   

      $('body').on('click', '#add_med_button', function(){
        $('body').empty()
        $('body').append(`藥物名稱<input type='text'><br>
                          藥物總量<input type='number'><br>
                          每次服用劑量<input type='number'><br>
                          <button class='add_finish_button'>完成</button>`)
      })

      $('body').on('click', '.add_finish_button', function(){
        $('body').empty()
        Load_pillBox()
      })

    
    })
</script>
</html>
