<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <link href="css/pageInit.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>藥物提醒</title>
  </head>
  <body>
  </body>
  <script>
    function Load_medNotify(){
      liff.init({
        liffId:'1655949102-QOy7mkzW'
      })
      .then(() => {
        liff.getProfile()
        .then(profile =>{
          $.ajax({
            url: 'load-notifyPage',
            data: {userId: profile.userId},
            success: function (data){
              if(Object.keys(data).length != 0){
                $.each(data, function (key, value){
                  $('body').append(`<h1>${value.notifyTime}</h1>`)
                })
                $('body').append(`<button id='add_notify_button'>新增提醒</button>`)

              }else{
                $('body').append(`<div class="wrapper row mx-auto p-5">
                                    <div>
                                      <p class="title">建立藥物提醒</p>
                                      <p>The problem with Realtimevirus scanners is that they're 
                                        inherently heavy on the CPU, 
                                        as they have to hash and comparebr 
                                      </p>
                                      <p class="row justify-content-center mt-5"><img class="col-sm-4" id="durgbox_img" src="img/drugbox.png" alt=""></p>
                                      <button class="btn btn-dark mx-auto" id="add_med_button" type="button">新增藥物</button>
                                    </div>
                                  </div>`)
              }
            }
          })
        .catch((err) => {
          console.log('error:', err)
        })

      })
      })
      .catch(error => {
        //error callback   
      })      
    }        
    $(document).ready(function(){
      Load_medNotify()
      //$('body').on('click', '#add_')
    })
  </script>
</html>
