<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <title>藥物提醒</title>
  </head>
  <body>
  </body>
  <script>
    function Load_pillBox(){
      liff.init({
        liffId:'1655949102-QOy7mkzW'
      })
      .then(() => {
        liff.getProfile()
        .then(profile =>{
          $.ajax({
            url: 'load-notifyPage',
            data: {userId: profile.userId},
            success: function (data){
              if(Object.keys(data).length != 0){
                $.each(data, function (key, value){
                  $('body').append(`<h1>${value.notifyTime}</h1>`)
                })
                $('body').append(`<button id='add_med_button'>新增藥物</button>`)

              }else{
                $('body').append(`<div class="wrapper row  mx-auto p-5">
                                    <div>
                                      <h2 class="title">建立我的藥盒</h2>
                                      <p>
                                          The problem with Realtimevirus scanners is that they're 
                                          inherently heavy on the CPU, 
                                          as they have to hash and compare<br> 
                                      </p>
                                      <div class="row  justify-content-center mt-5">
                                        <img class="col-sm-3">
                                        <img class="col-sm-3">
                                      </div>
                                      <button type="button" class="btn btn-dark mx-auto">新增藥物</button>
                                    </div>
                                  </div>`)
              }
            }
          })
  </script>
</html>
