<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script src="js/rolldate.min.js" type="text/javascript"></script>
    <script src="js/setTime.js" type="text/javascript"></script>
    <script src="js/navAnimate.js" type="text/javascript"></script>
    <script src="js/switchPage.js" type="text/javascript"></script>
    <script src="js/warningBox.js" type="text/javascript"></script>    
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/pickMed.css" rel="stylesheet">
    <link href="css/medNotify.css" rel="stylesheet">
    <link href="css/contactor.css" rel="stylesheet"> 
    <link href="css/navBar.css" rel="stylesheet">
    <link href="css/warningBox.css" rel="stylesheet">      
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>藥物提醒</title>
  </head>
  <body>
    <nav style="display: none;">
      <button><div class="mine">我的提醒<div id="mine"></div></div></button>
      <button><div class="contacter">被提醒人的提醒<div id="contacter"></div></div></button>	
    </nav>
    <div id="blank_underNavbar" style="display: none;"><br><br><br></div>
    <div id="supervisee"></div>
    <div class="wrapper row mx-auto">
      <div class="content mx-auto">
        <div id="myMedNotify"></div>
        <div id="superviseeMedNotify"></div>
        <div id="pickMedPage"></div>
      </div>        
    </div>
    <div id="superviseeMedNotifys_list" style="display: none;"></div>
    <div id="warningBox">
      <div id="hide"></div>
      <div id="popWindow">
        <div><img src="img/warning.png"></div>
        <div>您確定要刪除這筆通知嗎?</div>
        <div>
          <button onclick="cancel()">取消</button>
          <button id="confirmBtn" value="">確認</button>
        </div>	  
      </div>      
    </div>    
    <div id="footer" style="display: none;">
      <div class="blank"></div>
      <button class="btn btn-dark mx-auto" type="button" id="add">新增提醒</button>
      <p class="btnHeight"></p>
    </div>    
  </body>
  <script>
    function Load_landingPage(notifyNum, medNotify){
      if(notifyNum == 0){
        $(`#${medNotify}`).empty()
        $(`#${medNotify}`).append(`<div class="add_remind">
                                    <div><img src="img/remind.png"></div>
                                    <div>建立藥物提醒</div>
                                    <div></div>
                                  </div>`)                                  
      }
      if(medNotify == 'myMedNotify'){
        $('.add_remind div:nth-child(3)').html('讓您不再困惑藥物種類及服用時間')
      }else{
        $('.add_remind div:nth-child(3)').html('讓他不再困惑藥物種類及服用時間')        
      } 
    }
    function Load_medNotify(userId, medNotify){
      $(`#${medNotify}`).empty()
      $(`#${medNotify}`).css('display', 'initial')

      $.ajax({
        url: 'get-notify',
        data: {userId: userId},
        success: function (data){
          $('#footer').css('display', 'initial')
          $.each(data.user_Notify, function (key, value){
            $(`#${medNotify}`).append(`<div id="med_notify_div_${value.user_NotifyId}" class="remind-box mx-auto">
                                          <div class="time form-check form-switch">
                                            <a>${value.notifyTime.split(':')[0]}:${value.notifyTime.split(':')[1]}</a>
                                            <input class="form-check-input switchbtn" type="checkbox" value="${value.user_NotifyId}" ${value.switch}>
                                          </div>
                                          <div class="row mx-auto px-4 pb-4 med_div" id="${medNotify}_${value.user_NotifyId}">
                                          </div>
                                          <div class="row mx-auto deledit_Row">
                                            <input class="deletebtn col btn" type="button" value="  刪除" del_user_NotifyId="${value.user_NotifyId}">
                                            <div class="separate"></div>
                                            <input class="editbtn col btn" type="button" value="  編輯" edit_user_NotifyTime="${value.notifyTime}" edit_user_NotifyId="${value.user_NotifyId}">
                                          </div>
                                        </div>`)

            $.ajax({
              url: 'get-med-notify',
              data: {user_NotifyId: value.user_NotifyId},
              success: function(data){
                $.each(data, function (key, value){
                  $(`#${medNotify}_${value.user_NotifyId}`).append(`<div class="med-imgs col-sm-3 mt-2 pb-3 px-1">
                                                                      <img src="${value.medPicture}">
                                                                      <div class="med-name shadow">${value.medName}</div>
                                                                    </div>`)
                })
              }
            })
          })

          if(medNotify == 'myMedNotify' && $('#superviseeMedNotifys_list').children().length == 0){              
            $.each(data.supervise, function (key, value){
              $('#superviseeMedNotifys_list').append(`<div class="contacter_med">
                                                        <div class="profile" style="background-image:url(${value.picture})"></div>
                                                        <div class="appellation">${value.userName}</div>
                                                        <div class="view">
                                                          <button class="btn mx-auto supervisee_view" value="${value.userId}" superviseeName="${value.userName}" superviseePicture="${value.picture}">
                                                            <div id="view">
                                                              <div><img src="img/view.png"></div>
                                                            <div>查看</div>
                                                            </div>
                                                          </button>
                                                        </div>
                                                      </div>`)
            })   

            if(data.supervise.length != 0){
              $('nav').css('display', 'flex')
              $('#blank_underNavbar').css('display', 'initial') 
            }
          }
          Load_landingPage(Object.keys(data.user_Notify).length, medNotify)
        }
      })
      
    }
    function Load_pickMed(userId){
      $.ajax({
        url: 'pick-med',
        data: {
          userId: userId
        },
        success: function (data){
          $('#myMedNotify').css('display','none')
          $('#superviseeMedNotify').css('display','none')
          $('#superviseeMedNotifys_list').css('display', 'none')
          $('#footer').css('display', 'none')

          $('#pickMedPage').append(`<div class="timeCheck">
                                      <div class="mx-auto my-5">
                                        <input type="number" id="hour" name="hour" placeholder="00" value="" oninput="HourCheck(this)">
                                        :
                                        <input type="number" id="min" name="min" placeholder="00" value="" oninput="MinCheck(this)">
                                      </div>  
                                    </div>                          
                                    <div class="pillCheck">           
                                      <p class="title">選擇藥物</p>
                                      <p id="warning_sentence">請選擇1~10種藥物</p>
                                      <div class="row row-cols-3" id="medDisplayCheck"></div>
                                    </div>
                                    <div class="pillChosen">
                                      <div class="row row-cols-3" id="medDisplayChosen"></div>
                                    </div>

                                    <div class="footer">
                                      <div class="blank"></div>
                                      <button class="btn mx-auto" type="button" id="cancelbtn">取消</button>
                                      <button class="btn mx-auto" type="button" id="nextbtn" >下一步</button>
                                      <button class="btn mx-auto" type="button" id="backbtn">重新選擇藥物</button>
                                      <button class="btn mx-auto" type="button" id="submitbtn" value="insert">完成</button>
                                      <p class="btnHeight"></p> 
                                    </div>`)

          $.each(data, function (key, value){
            $('#medDisplayCheck').append(`<div class="med-imgs mr-1 mt-3" id="medCheck_${value.user_MedId}">
                                            <label for="cbox_${value.user_MedId}"><img src="${value.medPicture}"></label><input class="form-check-input checkbtn" type="checkbox" value="${value.user_MedId}" id="cbox_${value.user_MedId}">
                                            <div class="med-name shadow">${value.medName}</div>
                                          </div>`)
            $('#medDisplayChosen').append(`<div class="med-imgs mr-1 mt-3 medChosen" id="medChosen_${value.user_MedId}">
                                              <img src="${value.medPicture}">
                                              <div class="med-name shadow">${value.medName}</div>
                                           </div>`)                                    
          })

        }
      })            
    }
    function Add_medNotify(userId, medNotify){
      let user_MedId = []
      $('.checkbtn').each(function(index) {
          if(this.checked) user_MedId.push(this.value)  
      })             
      $.ajax({
        url: 'create-med-notify',
        data: {
          userId: userId,
          hour: $('#hour').val(),
          min: $('#min').val(),
          queryCond: $('#submitbtn').val(),
          user_MedId: user_MedId
        },
        success: function (data){
          $('#pickMedPage').empty()
          Load_medNotify(userId, medNotify)                      
        }
      })
    }


    liff.init({
      liffId:'1655949102-QOy7mkzW'
    })
    .then(() => {
      liff.getProfile()
      .then(profile =>{
        $(document).ready(function(){
          Load_medNotify(profile.userId, 'myMedNotify')
          $('body').on('click', 'nav button:nth-child(1)', function(){            
            if($('#submitbtn').length){
              warningLeave()
            }else{
              switchToMineNotify()
            }
            
          })
          
          $('body').on('click', 'nav button:nth-child(2)', function(){
            if($('#submitbtn').length){
              warningLeave()
            }else{            
              switchToContactorNotify()
            }                
          })          

          $('body').on('click', '#add', function(){ 
            if($('#supervisee').children().length == 0) Load_pickMed(profile.userId)
            else Load_pickMed($('#supervisee').val())                           
          })                


          $('body').on('click', '#nextbtn', function(){
            if($('.checkbtn:checked').length == 0){
              $('#warning_sentence').css('color','red');
            }
            else{
              $('#warning_sentence').css('color','#FFFFFF');
              $('.checkbtn').each(function(index) {
                  if(!this.checked){
                    $('#medChosen_'+this.value).css('display','none')
                  }  
              })
              $('.pillCheck').css('display','none')
              $('.pillChosen').css('display','block')
              $('.timeCheck').css('display', 'initial')
              $('#nextbtn').css('display','none')
              $('#backbtn').css('display','initial')
              $('#submitbtn').css('display','initial')
              clock()
            }
          })

          $('body').on('click', '#backbtn', function(){
            $('.checkbtn').each(function(index) {
                if(!this.checked){
                  $('#medChosen_'+this.value).css('display','initial')
                }  
            })            
            $('.pillCheck').css('display','initial')
            $('.pillChosen').css('display','none')
            $('.timeCheck').css('display', 'none')
            $('#nextbtn').css('display','initial')
            $('#backbtn').css('display','none')
            $('#submitbtn').css('display','none')
          })


          $('body').on('click', '#submitbtn', function(){
            if($('#supervisee').children().length == 0) Add_medNotify(profile.userId, 'myMedNotify')
            else Add_medNotify($('#supervisee').val(), 'superviseeMedNotify')  
            $('.btnHeight').css('display', 'block')
            $('.blank').css('display', 'initial')
          })
                           
          $('body').on('click', '#confirmBtn', function(){
            if($('#cancelbtn').prop('disabled')){
              leave_liff()
            }else{
              if($('#submitbtn').length && $('#supervisee').children().length == 0){
                leave_mineNotify()
              }else if($('#submitbtn').length && $('#supervisee').children().length != 0){
                leave_contactorNotify()
              }else{
                let user_NotifyId = $(this).attr('value')
                warningDisappear()
                $.ajax({
                  url: 'delete-notify',
                  data: {user_NotifyId: user_NotifyId},
                  success: function (data){
                    $('#med_notify_div_' + user_NotifyId).remove()
                    if($('#supervisee').children().length == 0) Load_landingPage($('#myMedNotify').children().length, 'myMedNotify')
                    else Load_landingPage($('#superviseeMedNotify').children().length, 'superviseeMedNotify')                
                  }
                })
              }
            }
          })

          $('body').on('click', '.deletebtn', function(){
            $('#confirmBtn').attr('value', $(this).attr('del_user_NotifyId'))
            warning()
          })


          $('body').on('click', '.editbtn', function(){
            let user_NotifyTime = $(this).attr('edit_user_NotifyTime')
            let user_NotifyId = $(this).attr('edit_user_NotifyId')
            if($('#supervisee').children().length == 0) Load_pickMed(profile.userId)
            else Load_pickMed($('#supervisee').val())                 
               

            let checkExist = setInterval(function() {
              if ($('#medDisplayCheck').length) {
                  $('.medChosen').css('display','none')
                  clearInterval(checkExist)
                  $.ajax({
                    url: 'edit-notify',
                    data: {user_NotifyId: user_NotifyId},
                    success: function (data){
                      $.each(data, function (key, value){
                        $('#cbox_'+value.user_MedId).prop( "checked", true )
                        $('#medChosen_'+value.user_MedId).css('display','initial')
                      })
                    }
                  })                  
                  $('.timeCheck').css('display', 'initial')
                  $('.pillCheck').css('display','none')
                  $('.pillChosen').css('display','block')
                  $('#nextbtn').css('display','none')
                  $('#backbtn').css('display','initial')
                  $('#submitbtn').css('display','initial')
                  $('#hour').val(user_NotifyTime.split(':')[0])
                  $('#min').val(user_NotifyTime.split(':')[1])
                  $('#submitbtn').val('update_'+user_NotifyId)
                  clock()
              }
            }, 10)

          })

          $('body').on('click', '#cancelbtn', function(){
            warningLeave()      
            $(this).prop('disabled',true)  
          })


          $('body').on('click', '.switchbtn', function(){                    
            let switch_status
            if(this.checked) switch_status = 'checked'
            else switch_status = ''
            
            $.ajax({
              url: 'switch-notify',
              data: {user_NotifyId: $(this).val(),
                    switch_status: switch_status},
              success: function (data){
                console.log('switch success!!')
              }
            })
                         
          })

          $('body').on('click', '.supervisee_view', function(){
            $('#superviseeMedNotifys_list').css('display', 'none')
            $('#supervisee').val($(this).val())
            $('#supervisee').append(`<div style="background-image:url(${$(this).attr('superviseePicture')})"></div>
	                                   <div>${$(this).attr('superviseeName')}</div>`)
            Load_medNotify($(this).val(), 'superviseeMedNotify')
          })            

        })      
        
      })
      .catch((err) => {
        console.log('error:', err)
      })
    })
    .catch(error => {
      //error callback   
    })      
           
  </script>
</html>
